<div class="login-content">
  <mat-card class="login-card">
    <form>
      <mat-card-header class="card-headers">
        <mat-card-title>
          <div class="logo-empresa">Faça seu cadastro</div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-login-controls">
        <div class="campo-nome">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Nome completo" [(ngModel)]="usuario.nome">
          </mat-form-field>
        </div>
        <div class="campo-login">
          <mat-form-field class="full-width">
            <input matInput type="text" placeholder="username" [(ngModel)]="usuario.email")]>
          </mat-form-field>
        </div>
        <div class="campo-senha">
          <mat-form-field>
            <input matInput type="password" placeholder="password" ([ngModel])="usuario.senha">
          </mat-form-field>
     </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="card-login-action-container">
          <div class="card-login-action">
            <button mat-raised-button type="submit" class="login-button" color="primary" (click)="cadastrarUsuario()">Cadastrar</button>
            <button mat-raised-button type="submit" class="cancel-button" color="warn" (click)="cancel()">Cancelar</button>
          </div>
        </div>
      </mat-card-actions>
    </form>
  </mat-card>
</div>